@import '~open-color/open-color';

/* Authentication */
.auth {
    margin-top: 50px;
      text-align: center;
  }
  .logo {
      text-align: center;
      font-weight: 100;
      font-size: 80px;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */
  }
  a.logo {
    //   color: #5B5B5B;
    color: #19aaff;
  }
  a {
      cursor: pointer;
  }
  .auth .card {
    width:480px;
      margin: 0 auto;
  }
  @media screen and (max-width: 480px) {
    .auth .card {
      width: 100%;
    }
    .logo {
      font-size: 60px;
    }
  }
  .card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    font-size: 1.8rem;
}
  .auth .header {
      font-size: 18px;
  }
  .auth .row {
      margin-bottom: 0px;
  }
  .auth .username {
    margin-top: 0px;
  }
  .auth .btn {
      width: 90%;
      height: auto;
      padding: 15px;
    font-size: 1.1rem;
  }
  .auth .footer {
      border-top: 1px solid #E9E9E9;
      padding-bottom: 11px;
  }
  .phrase{
    
      font-size: 1.5rem;
      padding-top: 70px;
      padding-bottom: 50px;
  

  }
  .footer.phrase{
      display: flex;
      justify-content: space-around;
      border-top:none;
      padding-top: 21px;
       
  }
  a.waves-effect.waves-light.btn.phrase{
      width: 44%;
      display: flex;
      justify-content: space-around;
      font-size: 1.2rem;

      
  }  

  button.waves-effect.waves-light.btn.phrase {
    width: 45%;
}
.phrase_alert{
    
    background: $oc-red-7;
    color: white;
    font-size: 1.1rem;
    padding: 1.1rem;
   
}

.card.account{
    width:520px;
}

button.waves-effect.waves-light.btn.account {
    width: 44%;
    margin: 10px;
    margin-top: 40px;
}


.validate.title{
    text-align: left;
    color: $oc-gray-8;
    font-size: 1.7rem;
}

.card-content.account {
    margin: 25px;
}

input.validate.account {
    height: 4rem;
    color: $oc-gray-8;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}


.card-content.multi{
    margin-top: -80px;
}